In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv("./Meteorite_Landings.csv")

In [21]:
df.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [16]:
df.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [20]:
df[["nametype","fall"]] = df[["nametype","fall"]].astype("category")

In [23]:
df["fall"].unique()

['Fell', 'Found']
Categories (2, object): ['Fell', 'Found']

In [24]:
df["nametype"].unique()

['Valid', 'Relict']
Categories (2, object): ['Relict', 'Valid']

In [33]:
df["fall"].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

In [34]:
df[["fell","found"]] = pd.get_dummies(df["fall"])

In [35]:
df

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,fell,found
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775, 6.08333)",1,0
1,Aarhus,2,Valid,H6,720.0,Fell,01/01/1951 12:00:00 AM,56.18333,10.23333,"(56.18333, 10.23333)",1,0
2,Abee,6,Valid,EH4,107000.0,Fell,01/01/1952 12:00:00 AM,54.21667,-113.00000,"(54.21667, -113.0)",1,0
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,01/01/1976 12:00:00 AM,16.88333,-99.90000,"(16.88333, -99.9)",1,0
4,Achiras,370,Valid,L6,780.0,Fell,01/01/1902 12:00:00 AM,-33.16667,-64.95000,"(-33.16667, -64.95)",1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,01/01/1990 12:00:00 AM,29.03700,17.01850,"(29.037, 17.0185)",0,1
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,01/01/1999 12:00:00 AM,13.78333,8.96667,"(13.78333, 8.96667)",0,1
45713,Zlin,30410,Valid,H4,3.3,Found,01/01/1939 12:00:00 AM,49.25000,17.66667,"(49.25, 17.66667)",0,1
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,01/01/2003 12:00:00 AM,49.78917,41.50460,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,01/01/1976 12:00:00 AM,33.98333,-115.68333,"(33.98333, -115.68333)",0,1

In [41]:
df["year"] = pd.to_datetime(
    df["year"],
    errors="coerce",
    format="%m/%d/%Y %H:%M:%S %p"
)

In [42]:
df.dtypes

name                   object
id                      int64
nametype             category
recclass               object
mass (g)              float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            object
fell                    uint8
found                   uint8
año            datetime64[ns]
dtype: object

In [43]:
df.rename(columns={"mass (g)":"mass"}, inplace = True)

In [47]:
df.dtypes

name                   object
id                      int64
nametype             category
recclass               object
mass                  float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            object
fell                    uint8
found                   uint8
año            datetime64[ns]
dtype: object

In [52]:
df.drop(["año"], axis=1, inplace = True)

In [57]:
dfcopy = df.copy(deep=True)
dfcopy.drop(["id"], axis =1, inplace=True)

In [61]:
dfcopy

,name,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation,fell,found
0,Aachen,Valid,L5,21.0,Fell,1880-01-01 12:00:00,50.77500,6.08333,"(50.775, 6.08333)",1,0
1,Aarhus,Valid,H6,720.0,Fell,1951-01-01 12:00:00,56.18333,10.23333,"(56.18333, 10.23333)",1,0
2,Abee,Valid,EH4,107000.0,Fell,1952-01-01 12:00:00,54.21667,-113.00000,"(54.21667, -113.0)",1,0
3,Acapulco,Valid,Acapulcoite,1914.0,Fell,1976-01-01 12:00:00,16.88333,-99.90000,"(16.88333, -99.9)",1,0
4,Achiras,Valid,L6,780.0,Fell,1902-01-01 12:00:00,-33.16667,-64.95000,"(-33.16667, -64.95)",1,0
...,...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,Valid,Eucrite,172.0,Found,1990-01-01 12:00:00,29.03700,17.01850,"(29.037, 17.0185)",0,1
45712,Zinder,Valid,"Pallasite, ungrouped",46.0,Found,1999-01-01 12:00:00,13.78333,8.96667,"(13.78333, 8.96667)",0,1
45713,Zlin,Valid,H4,3.3,Found,1939-01-01 12:00:00,49.25000,17.66667,"(49.25, 17.66667)",0,1
45714,Zubkovsky,Valid,L6,2167.0,Found,2003-01-01 12:00:00,49.78917,41.50460,"(49.78917, 41.5046)",0,1
45715,Zulu Queen,Valid,L3.7,200.0,Found,1976-01-01 12:00:00,33.98333,-115.68333,"(33.98333, -115.68333)",0,1